/ LOCALS
/ test ==> test
%td.font-size16{id: "td_test_#{test.id}"}
  %b
    = test.description.to_s.truncate(33)
  / = "(#{test.email.to_s.truncate(50)})"
  = render partial: "tests/permissions_info", locals: {test: test}
  / .ui.float.right.actions.icons
  /   = link_to edit_test_path(test.id), remote: true do
  /     %i.edit.icon.large
  /   = link_to test_path(test.id, page: params[:page] || 1), method: :delete, remote: true, "data-confirm": "Are you sure, you want to delete this test?" do
  /     %i.trash.outline.icon.large
  / .ui.grid.padded.transition.hidden{id: "permissions_of_#{test.id}"}
  /   - App.find_each do |app|
  /     - permission = test.permissions.where(permissions: {app_id: app.id}).last
  /     - permission = Permission.new if permission.blank?
  /     = render partial: "tests/table_data_permission", locals: {test: test, app: app, permission: permission}

